
/* navbar styling */
.navbar {
  font-family: 'Bungee Shade', cursive;
  font-size: 1.5em;
  background-color: #68a0f7;
  box-shadow: 10px 5px 5px #7f8c8d;
  border: .2em solid #9E9E9E;
}

a.navbar-brand {
  color: black !important;
  font-size: 1.2em;
}


/* search input box */
#searchInput {
  font-family: 'Questrial', sans-serif;
  font-size: 1em;
  color: #757575;
  padding: 1em;
  border: 2px solid #7f8c8d;
  align-items: center;
}

/*email and password inputs*/
input {
  max-width: 300px;
}

body {
  background-color: #B0BEC5;
}

/* search results page */
div#searchResults {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* madness page */
div.madness-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}



/* movie card styling */
.movieCard {
  border: 1px black solid;
  box-shadow: 5px 5px 5px 5px;
  border-radius: .5em;
  margin: 1%;
  background-color: white;
  max-height: 300em;
  max-width: 200px;
}

.movieCard:last-child {
  float: right;
}

.movieCard img {
  padding: 0;
  margin: 0;
}

.glyphicon {
  float: left;
  padding: 5%;
}

.rating {
  max-width: 1em;
}

.movieCard label {
  position: absolute;
  bottom: 5px;
}

input.rating {
   float: right;
   margin-right: 10%;
   margin-bottom: 10%;
}

/* welcome message */
.welcome-page h1 {
  margin-top: 10%;
}

/* my movies page */
div.my-movies-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

button {
  background-color: #1976D2 !important;
  border: 1px #1976D2 !important;
}
