
/* navbar styling */
.navbar {
   font-family: 'Bungee Shade', cursive;
   font-size: 1.5em;
   background-color: #71CF29;
   box-shadow: 10px 5px 5px #7f8c8d;
    border: .2em solid #9E9E9E;
}


.navbar-brand {
    color: black !important;
}


/* search input box */
#searchInput {
   font-family: 'Questrial', sans-serif;
   font-size: 1em;
   color: #757575;
    padding: 1em;
    border: 2px solid #7f8c8d;
    align-items: center;
    justify-content: space-around;
}

body {
    background-color: #B0BEC5;
    display: flexbox;
    align-content: flex-start;
}

/* movie card styling */
.movieCard {
   border: 1px black solid;
   box-shadow: 1px 1px 1px 1px;
   border-radius: 3px;
   margin: 1%;
   background-color: white;
}

.movieCard img {
   padding: 0;
   margin: 0;
}
