/* navbar styling */
.navbar {
   font-family: 'Bungee Shade', cursive;
   font-size: 1.5em;
   background-color: #8dbb11;
}

/* search input box */
#searchInput {
   font-family: 'Questrial', sans-serif;
   font-size: 1em;
}

/* movie card styling */
.movieCard {
   border: 1px black solid;
   box-shadow: 1px 1px 1px 1px;
   border-radius: 3px;
   margin: 1%;
}

.movieCard img {
   padding: 0;
   margin: 0;
}

.glyphicon {
   float: left;
}

.rating {
   max-width: 15px;
}

.movieCard label {
   position: absolute;
   bottom: 5px

}

#rating,
.rating {
   position: ;
   bottom: 0px;
   right: 25px;
}
